streamlit
pandas
plotly
numpy
rapidfuzz
pint
google-genai
langchain
langchain-core
langchain-community
langchain-perplexity
pinecone
langchain-pinecone
langchain-google-genai
tqdm
python-dotenv
streamlit-aggrid
pymongo