streamlit
pandas
plotly
numpy
rapidfuzz
pint
google-genai
langchain>=0.3.0
langchain-core>=0.3.71
langchain-community>=0.3.0
langchain-perplexity>=0.1.2
pinecone==7.3.0
langchain-pinecone==0.2.11
langchain-google-genai
tqdm
python-dotenv
streamlit-aggrid
pymongo