streamlit>=1.39
pandas>=2.2.2
plotly>=5.24.0
numpy>=1.26
rapidfuzz
pint
google-genai
langchain>=0.3
langchain-core>=0.3
langchain-community>=0.3
langchain-perplexity
pinecone-client
langchain-pinecone
langchain-google-genai
tqdm
python-dotenv
streamlit-aggrid
pymongo
PyYAML>=6.0.2
redis